In [14]:
# Creating a DF from a list
import pandas as pd
data = [10, 20, 30, 40, 50,60]
df = pd.DataFrame(data)
print(df)

    0
0  10
1  20
2  30
3  40
4  50
5  60

In [ ]:
# Creating a DF From a numpy array
import numpy as np
import pandas as pd 

data = np.array([[1,2,3],[4,5,6]])
df = pd.DataFrame(data)
print(df.index)

RangeIndex(start=0, stop=2, step=1)

In [12]:
# Creating DF from a data dictionary
import pandas as pd

data = {'Name': ['Kiran', 'Keerthi', 'Mohit' ],
        'Age': [25, 30, 22 ],
        'Gender': ['Male', 'Female', 'Male' ],
        'Salary': [50000, 55000, 40000 ]}

df = pd.DataFrame(data)
print(df)  # Accessing the index

      Name  Age  Gender  Salary
0    Kiran   25    Male   50000
1  Keerthi   30  Female   55000
2    Mohit   22    Male   40000

In [ ]:
# Indexing 

# Creating DF from a data dictionary
import pandas as pd

data = {'Name': ['Kiran', 'Keerthi', 'Mohit' ],
        'Age': [25, 30, 22 ],
        'Gender': ['Male', 'Female', 'Male' ],
        'Salary': [50000, 55000, 40000 ]}

df = pd.DataFrame(data)
print(df)  # Accessing the index
df_with_index = df.set_index('Name')
print(df_with_index)  # Accessing the index
df_reset = df.reset_index()
print(df_reset)

    Name  Age  Gender  Salary
0   John   25    Male   50000
1  Alice   30  Female   55000
2    Bob   22    Male   40000
       Age  Gender  Salary
Name
John    25    Male   50000
Alice   30  Female   55000
Bob     22    Male   40000
   index   Name  Age  Gender  Salary
0      0   John   25    Male   50000
1      1  Alice   30  Female   55000
2      2    Bob   22    Male   40000

In [16]:
# Accessing specific rows and columns
import pandas as pd
data = {'Name': ['Kiran', 'Keerthi', 'Mohit' ],
        'Age': [25, 30, 22 ],
        'Gender': ['Male', 'Female', 'Male' ],
        'Salary': [50000, 55000, 40000 ]}
df = pd.DataFrame(data)
# Accessing a specific column
df_filter = df[df['Name']=='Kiran']  # Accessing a specific row
print(df_filter)

# Access the first three rows and the 'Name' and 'Age' columns
subset = df.loc[0:1, ['Name', 'Age','Salary']]
print(subset)

    Name  Age Gender  Salary
0  Kiran   25   Male   50000
      Name  Age  Salary
0    Kiran   25   50000
1  Keerthi   30   55000