In [15]:
import pandas as pd
from sklearn import linear_model

In [ ]:
df = pd.read_csv("insurance.csv")
df

   Length_of_stay  Procedures  Age  Insurance  Severity Total_cost
0               3           2   45          1         6     25,000
1               5           3   60          0         8     40,000
2               2           1   30          1         4     18,000
3               7           4   70          0         9     55,000

In [17]:
# Total cost to be updated to numeric 
df["Total_cost"] = df["Total_cost"].str.replace(",","")
df["Total_cost"] = df["Total_cost"].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Length_of_stay  4 non-null      int64
 1   Procedures      4 non-null      int64
 2   Age             4 non-null      int64
 3   Insurance       4 non-null      int64
 4   Severity        4 non-null      int64
 5   Total_cost      4 non-null      int64
dtypes: int64(6)
memory usage: 324.0 bytes

In [ ]:
# Linear model
df["Stay_severity"] =  df['Length_of_stay']*df['Severity']
reg = linear_model.LinearRegression()

reg.fit(df[['Stay_severity','Procedures','Age','Insurance']],df.Total_cost)
reg.predict([[8,2,25,1]])