In [1]:
def multiply_two_numbers(num1,num2):
    return num1*num2

multiply_two_numbers(10,20)

200

In [ ]:
def factorial (num1):
    fact = 1
    for i in range(1,num1+1):
        fact = fact * i
    return fact 

factorial(5)

120

In [9]:
def concat(*txtParam):
    result_txt = ''
    for txt in txtParam:
        result_txt = result_txt + ' ' + txt
    return (result_txt)

concat("a","b","c")

' a b c'

In [25]:
x,y,z = "apple","banana",("a:apple","b:banana","c:cherry")
l1 = list(z)
l1[2] = 'c:carrot'
print(x,y,l1)
print(type(x),type(y),type(l1))

apple banana ['a:apple', 'b:banana', 'c:carrot']
<class 'str'> <class 'str'> <class 'list'>

In [37]:
fruits = ("apple","banana")
myTuple = fruits * 2
print(myTuple)
print(myTuple.index)

('apple', 'banana', 'apple', 'banana')
<built-in method index of tuple object at 0x0000019FE1FC4400>

In [43]:
fruits = ("apple","banana",5)
(a,b,c) = fruits
print(a,b,c)

apple banana 5