# Functions
functions may or may not return a value
def = define a function (attribute)
return statement to return a value

In [8]:
def multiplyTwoNumbers(val1, val2):
    val3 = val1 * val2
    return val3

multiplyTwoNumbers(4,3)

12

In [6]:
list = [1,2,3,4]
def appendList(list,val):
    list.append(val)
    print(list);

appendList(list,5)

[1, 2, 3, 4, 5]

In [7]:
print(print("aa"))

aa
None

In [32]:
def factorial(num1):
    incrementVal = 1
    fact = 1
    if type(num1) != int:
        return None 
    if num1 <=0:
        return None 
    
    while incrementVal<=num1:
        fact = fact * incrementVal
        incrementVal = incrementVal+1
        print(fact)
    return fact
    
    
factorial(4)

<class 'int'>
1
2
6
24

24

NameError: name 'num1' is not defined

In [32]:
# *args
def addNumbers(*args):
    sum = 0
    for num in args:
        sum = sum+num
    return sum

In [33]:
addNumbers(1,2,3,4)

10

In [28]:
# *kwargs 
def mathOperation(*args,operation ='Sum' ):
    result = 0
    print (operation)
    for num in args:
        print(num)
        if operation == 'Sum':
            result = result + num
        if operation == 'Multiply':
            result = result * num
    return result

In [31]:
mathOperation(1,2,3,4,operation ='Sum')

Sum
1
2
3
4

10

In [44]:
#locals & globals 
num1 = 10
num2 = 20
total = 0

def addTwoNumbers(num1,num2):
    def isItNumber(num):
        if int(num) > 0:
            return num
        else:
            return 0
    total = isItNumber(num1) + isItNumber(num2)
    print(locals())
    print(globals())
    return total

In [ ]:
addTwoNumbers(1,2)

In [49]:
# Functions as variables 

def removePunctuation(txt):
    punctuations = [',','.','"',':',';']
    for char in punctuations:
        txt = txt.replace(char,'')
    return txt

def removeShortWords (txt):
    return ' '.join([word for word in txt.split() if len(word)>3])

In [47]:
removePunctuation('A man living alone ; he needs some one to accomoapny....')

'A man living alone  he needs some one to accomoapny'

In [50]:
removeShortWords ('A man living alone ; he needs some one to accomoapny....')

'living alone needs some accomoapny....'

In [53]:
processingFunctions= [removePunctuation,removeShortWords]
text = 'A man living alone ; he needs some one to accomoapny....'

for func in processingFunctions:
    text = func(text)
print(text)

living alone needs some accomoapny

In [56]:
# Lambda Functions

(lambda x,y: x*y (2,3)

6

In [57]:
myList = [5,4,3]
sorted(myList)

[3, 4, 5]

In [59]:
myList = [{'num1':1}, {'num2':2} ,{'num3':3}]
print(myList)

[{'num1': 1}, {'num2': 2}, {'num3': 3}]

In [60]:
sorted(myList)

TypeError: '<' not supported between instances of 'dict' and 'dict'