In [3]:
import ModSquareRt:

ModSquareRt.calcSqrt(2010)

SyntaxError: invalid syntax (590332951.py, line 1)

In [2]:
x=10
y=12
if (x>3 and y>13):
    print("Both conditions are correct")
if (x<=3 or y<=13):
    print("At least one of the conditions is false")

At least one of the conditions is false

In [3]:
if (x>100):
    print("A busy day")
else:
    print("A calm day")

A calm day

In [4]:
def divisions_by_2(x):
    return(float(x/2))

divisions_by_2(5)

2.5

In [5]:
def exponentiation_exp_2(x):
    print("Raised to the power of 2:")
    return(x**2)

exponentiation_exp_2(3)

Raised to the power of 2:

9

In [6]:
def plus_five(x):
    return(x+5)

def m_by_3(y):
    return plus_five(y)*3
    
m_by_3(10)

45

In [9]:
def compare_the_two(x,y):
    if (x>y):
        print("Greater")
    elif(y>x):
        print("Less")
    elif(x==y):
        print("Equal")

In [18]:
def distance_from_zero(x):
    if(type(x) != int):
        print("Not possible")
        return(abs(x))
    else:
        print("Integer")

distance_from_zero(-10)
distance_from_zero("cat")

Integer
Not possible

TypeError: bad operand type for abs(): 'str'

In [20]:
list1 = ['a','b']
print(list1)

['a', 'b']

In [44]:
Numbers = [15, 40, 50,60,70]
print(Numbers[2:4])
Numbers.sort()
Numbers

[50, 60]

[15, 40, 50, 60, 70]

In [50]:
Numbers = [15, 40, 50, 100, 115, 140]
Numbers[3:-3]

[]

In [53]:
Numbers = [15, 40, 50, 100, 115, 140]
Numbers.sort(reverse=true)

NameError: name 'true' is not defined

In [ ]:
x = ("Apple","Banana")
y = ("Onion","Tomato")
list1 = [x,y]

TypeError: 'list' object is not callable

In [7]:
Cars = ("BMW", "Dodge", "Ford")
print(Cars[1])

Dodge

In [8]:
name, age = 'Peter',24
print(name+' '+str(age))

Peter 24

In [12]:
def rectangle_info(l,b):
    area  = l*b
    peri = 2*(l+b)
    return area
    
rectangle_info(1,2)

2

In [16]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna'}
Menu['meal_5']="Soup"
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']
Menu['meal_6'] = Dessert
print(Menu['meal_6'])

['Pancakes', 'Ice-cream', 'Tiramisu']

In [18]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna', 'meal_5':'Soup'}
Price_list = {}
Price_list['meal_1'] = 10
Price_list['meal_2'] = 5
Price_list['meal_3'] = 8
Price_list['meal_4'] = 12
Price_list['meal_5'] = 5
print(Price_list)

{'meal_1': 10, 'meal_2': 5, 'meal_3': 8, 'meal_4': 12, 'meal_5': 5}

In [26]:
even = [0,2,4,6]
for l in even:
    print(l,end = ' ')

0 2 4 6

In [48]:
def count(list1):
    count  = 0
    val = 0
    for val in list1:
        if val<20:
            count = count +1
    return count

nums = [1,35,12,24,31,51,70,100]
print(count(nums))

2

In [50]:
nums = [1,35,12,24,31,51,70,100]
i = 0 
while i in nums:
    print(i)